node_modules/
vendor/
test-results/
playwright-report/
.phpunit.result.cache
examples/board/build/
examples/board/public/assets/hyper-*.js
examples/board/public/assets/templates/
examples/board/var/*.db
packages/hyper-php/tests/build/
build/
packages/hyper-node/tests/build/
packages/hyper-client/dist/
packages/hyper-node/dist/
__pycache__/
/var/
*.next-*
